.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #ffffff;
    background-image:
        linear-gradient(#f0f0f0 1px, transparent 1px),
        linear-gradient(90deg, #f0f0f0 1px, transparent 1px);
    background-size: 24px 24px;
    color: #333;
}

.card {
    background: radial-gradient(circle at 20% 20%, var(--card-bg-start), var(--card-bg-end) 70%);
    width: 320px;
    min-height: 60vh;
    padding: 2rem 1.5rem 3rem 1.5rem;
    border-radius: 24px;
    color: var(--text-light);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-title {
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    font-weight: 300;
    margin: .5rem 0 0 0;
    color: var(--text-light);
    letter-spacing: -0.02em;
}

.card-description {
    font-size: 1rem;
    color: var(--text-light);
    margin: 0;
    line-height: 1.4;
    max-width: 90%;
}


/* Tablets */
@media (max-width: 992px) {
    .about-section {
        flex-direction: column;
    }

    .card {
        width: 50vw;
        min-height: 40vh;
    }
 }

/* Celulares */
@media (max-width: 768px) {
    .card {
        width: 80vw;
    }
}