.contact-us {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TRUCO: Fondo de cuadrícula (Grid) hecho con CSS puro */
    background-color: #ffffff;
    background-image:
        linear-gradient(#f0f0f0 1px, transparent 1px),
        linear-gradient(90deg, #f0f0f0 1px, transparent 1px);
    background-size: 24px 24px;
    color: #333;
}


/* Celulares */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Ocultar menú desktop */
    }
    /* Aquí activas tu menú hamburguesa y pones todo en 1 columna */
    .columna {
        width: 100%;
    }
}

.contact-card {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: radial-gradient(circle at 20% 20%, var(--card-bg-start), var(--card-bg-end) 70%);
    padding: 2.5rem; /* Padding extra abajo para compensar la falta de botón */
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    color: var(--text-light);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.info-title {
    font-family: 'Merriweather', serif; /* Fuente Serif para destacar */
    font-size: 1.5rem;
    font-weight: 300; /* Peso ligero para elegancia */
    margin: .5rem 0 0 0; /* Espacio superior para separarlo */
    color: var(--text-light);
    letter-spacing: -0.02em;
}

.info-text {
    color: var(--text-light);
    margin: 1rem 0;
    line-height: 1.4;
}

/* Notebooks */
@media (max-width: 1200px) {
    .contact-card{
        gap: .5rem
    }
 }

/* Tablets */
@media (max-width: 992px) {
    .contact-us{
        display: flex;
        flex-direction: column;
    }

    .contact-card{
        min-height: 20vh;
        width: 50vw;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 0px;
    }
 }

 /* Celular */
 @media (max-width: 768px) {
    .contact-card{
        min-width: 80vw;
    }
}