footer {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);

    border-top: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 -2px 100px rgba(0, 0, 0, 0.192);;
}

.footer-section {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0;

}

.footer-section a {
    color: rgba(0, 0, 0, 0.315);
}