* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
    /* Altura extra para que puedas probar el scroll */
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffffff;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 0;
}

/* TU CSS ACTUAL (Escritorio) VA AQUÍ ARRIBA */

/* Laptops pequeñas */
/* @media (max-width: 1200px) { ... } */

/* Tablets */
/* @media (max-width: 992px) { ... } */

/* Celulares */
/* @media (max-width: 768px) {
    .navbar {
        display: none; /* Ocultar menú desktop */
    /* } */
    /* Aquí activas tu menú hamburguesa y pones todo en 1 columna */
    /* .columna {
        width: 100%;
    }
} */