:root {
    --card-bg-start: #3b83f6ab;
    --card-bg-end: #1c3355dc;
    --text-light: #ffffff;
    --text-dim: #a0a9b8;      /* color para descripciones */
    --badge-bg: rgba(255, 255, 255, 0.15);
    --hero-bg-start: #456f9e;;
    --hero-bg-end: #233549;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffffff;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 0;
}